.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
        "wdth" 100;
}

.secondary-bg {
    background-color: #FFF8F3;

}

/* Header */

.header {
    background-image: url(./images/developer.png), url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.dark-2 {
    color: #474747;
    font-weight: bold;
}

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 16px 35px;
    border: none;
}

.text-center {
    text-align: center;
}

nav li {
    list-style-type: none;
    margin-right: 50px;
}

li a {

    text-decoration: none;

}

nav ul {
    display: flex;
    align-items: center;
}


.primary-text {
    color: rgba(253, 110, 10, 1);

}

/* Banner */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-contain {
    max-width: 585px;


}

.b-img {
    max-width: 585px;

}

.title {
    font-weight: 600px;
    font-size: 45px;
    color: #474747;
}

.t-title {
    font-weight: 800px;
    font-size: 85px;
    color: #181818;
}

/* Main */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About */
.about-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.about-description {
    color: #757575;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-title {
    font-weight: bold;
}

.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 130px;
}

.ex-title {
    color: #181818;
    font-weight: bold;
    margin-bottom: 30px;
}

.ex-description {
    color: #757575;
    margin-bottom: 50px;
}

.skills-cart {
    display: flex;
    gap: 20px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);

    /* color: #FFFFFF; */
}

.skill-description {
    color: #757575;
}

.educational {
    display: flex;
    gap: 25px;
    margin-bottom: 80px;
}

.edl {
    margin-top: 100px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 70px;
}

.resume-column-title {
    font-weight: bold;
    font-size: 30px;
    color: #474747;
}

.experience-title {
    font-weight: bold;
    font-size: 25px;
    color: #474747;
}

.experience-sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}

.dwn-cv {
    margin-bottom: 113px;
}

/* Footer */
footer {
    padding: 130px 230px;
    max-width: 1140px;
    margin: 0 auto;
}

.footer-container {
    display: flex;
    gap: 117px;


}

.footer-content-title {
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}

.footer-content-des {
    font-size: 16px;
    color: #474747;

}

.footer-content {
    width: 50%;
}

.input-name {
    width: 461px;
    height: 64px;
    border-radius: 5px;
    margin-bottom: 24px;
    border: none;
    padding-left: 10px;

}

.input-mesg {
    width: 461px;
    height: 180px;
    border-radius: 5px;
    margin-bottom: 24px;
    border: none;
    padding-left: 10px;
}

form {
    gap: 24px;
}